/* PC devices  */
@media (max-width: 992px){

    /* top navbar option tag width */

}



/* Tablet devices  */
@media (max-width: 768px){

   

    .heroSliderArrow {
        display: none !important;
      }
}



/* Mobile devices  */
@media (max-width: 480px){

    /* Header To section start */


    .social-icon ul li {
        margin-bottom: 5px;
        margin-right: 5px;
    }

}


