/* PC devices  */
@media (max-width: 992px){

    /* top navbar option tag width */

}



/* Tablet devices  */
@media (max-width: 768px){

   

    .heroSliderArrow {
        display: none !important;
    }



    /* 404 page h1 tag */
    .page-404 h1 {
        font-size: 150px;
        line-height: 200px;
    }

    /* coming down */
    .coming-soon .block .count-down ul li {
        font-size: 50px;
    }
}



/* Mobile devices  */
@media (max-width: 480px){

    /* Header To section start */


    .social-icon ul li {
        margin-bottom: 5px;
        margin-right: 5px;
    }


    /* 404 page h1 tag */
    .page-404 h1 {
        font-size: 100px;
        line-height: 100px;
    }

    /* coming down */
    .coming-soon .block .count-down ul li {
        font-size: 50px;
    }

    /* login page styling */

    .account .block form .btn-main, .account .block form .btn-solid-border, .account .block form .btn-transparent, .account .block form .btn-small {
        padding: 14px 19px;
      }
}


